*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

textarea {
  resize: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.page {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  margin: 0;
  padding: 0;
  padding-bottom: 306px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 21px 0;
  }
}

.nav-item {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .nav-item {
    margin: 0;
    margin-right: 50px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
}

.nav-item:last-child {
  margin-bottom: 0;
}

.nav-link {
  text-decoration: none;
  color: #212121;
  height: 100%;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #2196f3;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav-link.current::after {
    position: absolute;
    bottom: -33px;
    left: 0;
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-link.current::after {
    top: 35px;
  }
}

.nav-logo {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.nav-logo.title {
  color: #212121;
}

.menu-container {
  display: none;
  padding: 48px 40px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    z-index: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.menu-container.is-open {
  display: block;
}

.auth-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  list-style: none;
  padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .auth-list {
    margin: 0;
    margin-left: auto;
    padding: 21px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .auth-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth-item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .auth-item {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .auth-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .auth-item {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .auth-item:last-child {
    margin-right: 0;
  }
}

.auth-link {
  text-decoration: none;
  color: #2196f3;
}

.auth-link:hover, .auth-link:focus {
  color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-link:hover .auth-icon, .auth-link:focus .auth-icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .auth-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.auth-link.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.auth-link.mail:hover, .auth-link.mail:focus {
  color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-link.mail:hover .auth-icon, .auth-link.mail:focus .auth-icon {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .auth-link.mail {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.auth-icon {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .auth-icon {
    display: none;
  }
}

.social-linnk {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .social-linnk {
    display: none;
  }
}

.social-linnk:last-child {
  padding-right: 0;
  border: none;
}

.social-linnk.first {
  padding-left: 0;
}

.menu-btn {
  background: transparent;
  z-index: 2;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 767px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:focus, .menu-btn:hover {
  fill: #2196f3;
}

.menu-btn .icon-menu {
  display: none;
}

.menu-btn.is-open .icon-menu {
  display: block;
}

.menu-btn.is-open .icon-close {
  display: none;
}

.hero-section {
  padding: 118px 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/fotografy/fon1x.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/fotografy/fon1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero .hero-section {
    background-image: url("../img/fotografy/fon@2x.jpg");
  }
}

.hero-title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  display: block;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12), 0px 10px 10px rgba(0, 0, 0, 0.06), 1px 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12), 0px 10px 10px rgba(0, 0, 0, 0.06), 1px 4px 10px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 221px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 100%;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  cursor: pointer;
  fill: #2f303a;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .vector-svg, .modal-button:focus .vector-svg {
  fill: #2196f3;
}

.svg-modal {
  position: absolute;
  top: 31px;
  left: 15px;
}

.form-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align-last: left;
  position: relative;
}

.form-field textarea:focus, .form-field textarea:hover {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.form-field label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
  border: 1px solid #2196f3;
  outline: #2196f3;
}

.form-input:hover + .svg-modal, .form-input:focus + .svg-modal {
  fill: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-label {
  position: relative;
  padding-left: 25px;
}

.check-label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  left: 0;
  top: 1px;
}

.check:checked + .check-label:before {
  background-color: #2196f3;
  background-image: url(../img/fotografy/ok.svg);
  background-size: 12px 11px;
}

.form-field textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #757575;
}

.policy-link {
  color: #2196f3;
}

.submit-button {
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.wrap-button {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 45%;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .features-item:nth-child(2n) {
    margin-right: 0;
  }
  .features-item:nth-child(3) {
    margin-bottom: 0;
  }
  .features-item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 23%;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .features-item:nth-child(2n) {
    margin-right: 30px;
  }
  .features-item:nth-child(4) {
    margin-right: 0;
  }
}

.features-icon {
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features-title {
    text-align: left;
  }
}

.features-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.features-text:last-child {
  margin-bottom: 0;
}

.features .icon {
  margin-bottom: 0;
}

.option.section {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .option.section {
    display: none;
  }
}

.option-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.option-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.option-item {
  width: 32%;
  position: relative;
  width: 370px;
  z-index: -1;
}

.option-item:not(:last-child) {
  margin-right: 30px;
}

.option-img {
  display: block;
  width: 100%;
  height: 100%;
}

.option-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.option-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.team.section {
  background-color: #f5f4fa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.team-item {
  margin-bottom: 30px;
  width: 100%;
  margin-right: 30px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 47%;
    height: 100%;
  }
  .team-item:nth-child(2n) {
    margin-right: 0;
  }
  .team-item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 23%;
  }
  .team-item:nth-child(2) {
    margin-right: 30px;
  }
  .team-item:nth-child(4) {
    margin-right: 0;
  }
}

.team-item:last-child {
  margin-bottom: 0;
}

.team-name {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-profession {
  margin: 0;
  padding-bottom: 16px;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.19;
}

.team-img {
  width: 100%;
}

.icon-list {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .icon-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.icon-items {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon-link:focus, .icon-link:hover {
  background-color: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.icon-link:focus .icon-svg, .icon-link:hover .icon-svg {
  fill: #ffffff;
}

.icon-svg {
  fill: #afb1b8;
}

.clients-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .clients-list {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.clients-item {
  height: 90px;
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .clients-item {
    width: 44%;
  }
  .clients-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 30%;
  }
  .clients-item:nth-child(3n) {
    margin-right: 0;
  }
  .clients-item:nth-child(4) {
    margin-bottom: 0;
  }
  .clients-item:nth-child(5) {
    margin-bottom: 0;
  }
  .clients-item:nth-child(6) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 14.5%;
    margin-bottom: 0;
  }
  .clients-item:nth-child(3) {
    margin-right: 30px;
  }
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-svg, .clients-link:focus .clients-svg {
  fill: #2196f3;
}

.clients-svg {
  width: 100%;
  fill: #afb1b8;
}

.footer.section {
  background-color: #2f303a;
}

.footer-container {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    width: 66%;
  }
}

.footer-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.footer-logo.span {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .container.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.adress-text {
  margin-top: 20px;
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress-link {
  margin-bottom: 8px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress-link:last-child {
  margin-bottom: 0;
}

.icon {
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .icon {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .icon {
    margin-bottom: 0;
    text-align: left;
  }
}

.icon-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.icon-list.footer {
  padding-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .icon-list.footer {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.icon-item.footer {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.icon-link.footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-link.footer:hover, .icon-link.footer:focus {
  background-color: #2196f3;
}

.icon-svg.footer {
  fill: #ffffff;
}

.email {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .email-text {
    text-align: left;
  }
}

.email-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .email-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.email-wrap input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--accent-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

@media screen and (min-width: 768px) {
  .email-wrap input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .email-wrap input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-button {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.footer-button::after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/fotografy/iconsend.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  position: absolute;
  top: 12px;
  left: 75%;
}

.main {
  padding: 60px 15px;
}

.main-wrap {
  border-top: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .main {
    padding: 94px 15px;
  }
}

.main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .main-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.main-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .main-item {
    margin: 0;
    margin-right: 8px;
  }
  .main-item:last-child {
    margin-right: 0;
  }
}

.main-button {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border-color: transparent;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.work-item {
  width: 100%;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .work-item {
    width: 47.5%;
    margin-right: 30px;
  }
  .work-item:nth-child(2n) {
    margin-right: 0;
  }
  .work-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .work-item {
    width: 31.6%;
    margin-right: 30px;
  }
  .work-item:nth-child(2n) {
    margin-right: 30px;
  }
  .work-item:nth-child(3n) {
    margin-right: 0;
  }
  .work-item:nth-child(7) {
    margin-bottom: 0;
  }
  .work-item:nth-child(8) {
    margin-bottom: 0;
  }
}

.work-item:last-child {
  margin-bottom: 0;
}

.work-link {
  text-decoration: none;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover, .work-link:focus {
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12), 0px 10px 10px rgba(0, 0, 0, 0.06), 1px 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12), 0px 10px 10px rgba(0, 0, 0, 0.06), 1px 4px 10px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-link:hover .portfolio-work-text, .work-link:focus .portfolio-work-text {
  top: 0;
  opacity: 1;
}

.work-img {
  width: 100%;
}

.portfolio-img-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.portfolio-work-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 77px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 100%;
  left: 0;
  margin: 0;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  padding: 20px 24px;
}

.image-name {
  margin: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.img-page {
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */